h1 {
  text-align: center;
  font-size: 48px;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

h2 {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-size: 50px;
}

form input,
button {
  border: 1px solid #9b9b9b;
  border-radius: 5px;
}

.wrapper a {
  color: black;
}

.wrapper {
  border: 1px solid #dad7d7;
  border-radius: 20px;
  max-width: 800px;
  margin: 40px auto 0;
  padding: 20px;
  background: rgba(253, 252, 252, 0.4);
}

.current-time-details {
  text-align: center;
  font-size: 12px;
  color: #9b9b9b;
  word-spacing: 5px;
}

.button-search {
  background-color: #e2eefa;
  width: 23%;
}

.button-location {
  background-color: #dac2d8;
}

.location-icon {
  max-width: 14px;
}

.location-div {
  width: 100%;
  margin: 40px 0 0;
}

.temperature {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-size: 50px;
  font-weight: bold;
  padding: 0;
}

.weather-icon {
  position: relative;
  top: -15px;
}

.units {
  position: relative;
  top: -25px;
}
